* {
  margin: 0;
  padding-top: 7px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
#main {
  display: flex;
  text-align: center;
  justify-content: center;
}
.p {
  width: 260px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 35px;
}
.container-rightside {
  margin-top: 12px;
  background-color: rgb(248, 248, 248);
}
.sales {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 19px;
}
.prices {
  display: flex;
  justify-content: center;
  margin-top: 19px;
  margin-bottom: 19px;

  &-green {
    color: green;
  }
}
.imgapple {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
//footer
#footer {
  display: flex;
  align-items: center;
  height: 100px;
  left: 200px;
  gap: 10px;
}
.container-footer {
  display: flex;
  flex-direction: column;
}
.h1 {
  color: rgb(255, 85, 0);
}
.container {
  display: flex;
  flex-direction: column;
}
.container-1 {
  display: flex;
}
